header {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    background-color: rgba(128, 128, 128, 0.5);
}

header nav {
    display: flex;
    justify-content: flex-end;
    padding: .7rem 2rem;
}

header nav ul {
    display: flex;
    gap: 2rem;
    align-items: center;
}

header nav ul li {
    list-style: none;

}

header nav ul .current {
    text-decoration-line: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 5px;
}

header nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
}

header nav ul li a:hover {
    color: rgb(211, 211, 211);
}

header nav ul li button {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 10px gray;
}

header nav ul li button:hover {
    box-shadow: 0px 0px 20px gray;
    cursor: pointer;
}